
# VITE_API_URL="http://192.168.50.101:3000/api/v1"
VITE_API_URL=""

SECRET_KEY='TNIY-MAIL-SECRET'

#  const USER_ROLES = {
#     VENDOR: 1,
#     ADMIN: 2,
#     SUPER_ADMIN: 3
# }
#  const USER_STATUS = {
#     DELETED: 0,
#     VERIFIED: 1,
#     PENDING: 2,
#     SUSPENDED: 3
# }





